<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Checks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Checks</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-checkbox justify="start">Al comienzo de la línea</ion-checkbox>
    </ion-item>
  
    <ion-item>
      <ion-checkbox justify="end">Al final de la línea</ion-checkbox>
    </ion-item>
  
    <ion-item>
      <ion-checkbox justify="space-between">Espacio entre texto y check</ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
