<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Buttons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Botones</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button>Predeterminado</ion-button> <ion-button shape="round">Redondeado</ion-button>
  <ion-button fill="clear">Limpio</ion-button>
  <ion-button fill="outline">Sin relleno</ion-button>
  <ion-button fill="solid">Solido</ion-button>
</ion-content>
